.madeline-body {
    background-color: #4afc4a;
    font-family: 'Kaushan Script', cursive;
}

.madeline-header-pic {
    width: 700px;
}

.madeline-navigation {
    background-color: yellow;
}

.intro-madeline {
    display: flex;
    flex-wrap: wrap;
    background-color: hotpink;
}

.one-weird-trick {
    display: block;
    margin: 2rem auto;
}

.salad-pic {
    width: 700px;
}

.nike-ad {
    display: block;
    margin: 1rem auto;
    width: 50%;
}

.madeline-portfolio {
    background-color: yellow;
}

.bigfoot {
    width: 50%;
}

.waitress {
    width: 70%;
}

.chimpanzees {
    width: 40%;
}

.mansion {
    width: 60%;
}