.testBorder {
	border: 1px dotted blue;
}

.bottomSpace {
	margin-bottom: 2rem;
}

.vc-navbar {
	display: flex;
	justify-content: space-around;
	margin: 20px 0px;
	padding: 20px;
}

#evil {
	float: right;
	opacity: 10%;
}

.vc-about {
	display: flex;
	flex-flow: row wrap;
}

.vc-about__image {
	max-height: 20rem;
	flex: auto;
}

.vc-about__text {
	margin: 1rem;
	flex: 2;
}

.vc-about__facts {
	margin: 1.5rem;
	flex: 6;
}

.vc-learning {
	display: flex;
	justify-content: space-around;
}

.vc-learning__header {
	text-align: center;
}


.vc-learning__links {
	margin-left: 3rem;
}

.vc-learning__image {
	align-self: end;
}
