.testBorder {
	border: 1px dotted blue;
}

.bottomSpace {
	margin-bottom: 2rem;
}

.navbar {
	display: flex;
	justify-content: space-around;
	margin: 20px 0px;
	padding: 20px;
}

#evil {
	float: right;
	opacity: 10%;
}

.about {
	display: flex;
	flex-flow: row wrap;
}

.about__image {
	max-height: 20rem;
	flex: auto;
}

.about__text {
	margin: 1rem;
	flex: 2;
}

.about__facts {
	margin: 1.5rem;
	flex: 6;
}

.learning {
	display: flex;
	justify-content: space-around;
}

.learning__header {
	text-align: center;
}


.learning__links {
	margin-left: 3rem;
}

.learning__image {
	align-self: end;
}
